@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Poppins:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

.home {
    background: #180c24;
    padding-inline: 2.5%;
    color: white;
    min-height: 86vh;
    display: flex;
    ;
    align-items: center;
}

.home-container {
    display: flex;
}

.home-para {
    font-family: 'Volkhov', serif;
    font-size: 65px;
}

.home-button {
    padding: 1.3em 3.5em;
    background: #3e1dce;
    color: white;
    font-weight: 500;
    font-size: 20px;
    border-radius: 4px;
    font-family: 'Roboto Slab', serif;
    position: relative;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
}



.home-button::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: -50px;
    z-index: -1;
    background: rgb(255, 72, 53);
    transform: skewX(35deg);
    transition: width .7s ease-in-out;
}

.home-button:hover::before {
    width: 150%;
}

.home-content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
}

/* NAV-BAR */

.nav-bar {
    background: #180c24;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Slab', serif;
    padding-top: 3.8%;
    padding-inline: 2%;
    color: white;
    font-size: 32px;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

.nav-2 {
    display: flex;
    gap: 86px;
}

.ham {
    background: transparent;
    border: none;
    cursor: pointer;
}


.heads {
    font-family: Bree Serif;
    font-size: 42px;
    color: #913909;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 3%;
    letter-spacing: 3px;
    text-align: center;
}

.about {
    display: flex;
    justify-content: space-between;    
    font-size: 36px;
    color: #180c24;
    font-family: 'Roboto Slab', serif;
    margin-right: 1.8%;
}
.about1{
    padding-inline: 5%;
}
.abtme-img {
    height: 420px;
    width: 460px;
    box-shadow: 5px 8px 8px grey;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.icon-para {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    margin-top: 10%;
}

.html {
    background-image: linear-gradient(130deg,#c3caf6,#ede0f9);
}

.css {
    background-image: linear-gradient(130deg,#e1f8ff,#cdffe4);
}

.js {
    background-image: linear-gradient(130deg,#f7eefe,#fae9ec);
}

.react {
    background-image: linear-gradient(130deg,#e0fbfe,#ebf0f2);
}

.boot {
    background-image: linear-gradient(130deg,#ffe2df,#faf6e0);
}

.python {
    background-image: linear-gradient(130deg,#edf8ed,#e7f8c3);
}

.c {
    background-image: linear-gradient(130deg,#ebedff,#f1f7f9);
}

.ps {
    background-image: linear-gradient(130deg,#fafafa,#fef4f5 72%);
}

.html-icon{
    font-size: 73px;
    color: #FF4E00;
}


.js-icon {
    background: yellow;
    font-size: 73px;
    width: 76px;
    border-radius: 50%;
}

.react-icon {
    font-size: 73px;
    color: #68dcfc;
}

.css-icon {
    height: 73px;
}

.boot-icon {
    font-size: 73px;
    color: #543c7c;
}

.c-logo {
    height: 80px;
}

 .skill-card {
    height: 300px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 13px;
    box-shadow: 5px 8px 8px rgba(0,0,0,0.2);
 }

 /* PROJECTS */

.projects-container {
    display: flex;
    margin-left: 2%;
}

.project-card {
    height: 425px !important;
    width: 315px !important;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden ;
    cursor: pointer;
    margin: 15px;
 }

 a {
    text-decoration: none;
}

.space {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: .4s;
    position: relative;
    overflow: hidden;
    background: #000000;
}

.space::before {
    content: '';
    position: absolute;
    background-image: url("https://i.ibb.co/PZgBhtF/ssss.png");
    background-size: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: .4s;
}

.space2 {
    transition: .4s;
    color: white;
    position: absolute;
    bottom: 40px;
    z-index: -1;
}

.project-card:hover .space2 {
    transform: scale(1.1) translateY(-98px);
    font-size: 23px;
    color: white;
    padding: 18px;
    font-weight: 800;
    z-index: 1;
}

.project-card:hover a {
    text-decoration: underline;
}

.space:hover::before {
    transform: scale(1.1);
    opacity: 0.4;
    filter: blur(5px);
}


.calc {
    padding: 0;
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 2px solid black;
}

.calc2 {
    position: absolute;
    transition:  .4s ease-in-out;
    z-index: -1;
    padding-left: 23px;
    color: white;
}

.project-card:hover .calc2 {
    z-index: 1;
    font-size: 23px;
    padding-left: 33px;
    transform: translateY(-318px) scale(1.1);
 }

.rps-img {
    height: 432px;
    width: 315px;
    transition: .4s ease-in-out;
}

.rps2 {
    position: absolute;
    transition:  .4s ease-in-out;
    z-index: -1;
    padding-left: 23px;
    color: white;
}

.rps {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #000000;
    padding: 0;
}

.project-card:hover .rps2 {
    z-index: 1;
    font-size: 23px;
    padding-left: 38px;
    transform: translateY(-318px) scale(1.1);
}

.project-card:hover .rps-img {
    opacity: .3;
    transform: scale(1.1);
    filter: blur(6px);
}

.wiki {
    padding: 0;
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid black;
}

.wiki2 {
    position: absolute;
    transition:  .4s ease-in-out;
    z-index: -1;
    padding-left: 23px;
    color: white;
}

.project-card:hover .wiki2 {
    z-index: 1;
    font-size: 23px;
    padding-left: 38px;
    transform: translateY(-320px) scale(1.1);
}

.todo {
    padding: 0;
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid black;
}

.todo2 {
    position: absolute;
    transition:  .4s ease-in-out;
    z-index: -1;
    padding-left: 23px;
    color: white;
}

 .project-card:hover .todo2 {
    z-index: 1;
    font-size: 23px;
    padding-left: 33px;
    transform: translateY(-322px) scale(1.1);
 }

 .covid {
    padding: 0;
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid black;
 }

 .covid2 {
    position: absolute;
    transition:  .4s ease-in-out;
    z-index: -1;
    padding-left: 23px;
    color: white;
 }

 .project-card:hover .covid2 {
    z-index: 1;
    font-size: 23px;
    padding-left: 33px;
    transform: translateY(-322px) scale(1.1);
 }

 .chat {
    padding: 0;
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid black;
 }

 .chat2 {
    position: absolute;
    transition:  .4s ease-in-out;
    z-index: -1;
    padding-left: 23px;
    color: white;
 }

 .project-card:hover .chat2 {
    z-index: 1;
    font-size: 23px;
    padding-left: 33px;
    transform: translateY(-322px) scale(1.1);
 }

 .page {
    padding: 0;
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid black;
 }

 .page2 {
    position: absolute;
    transition:  .4s ease-in-out;
    z-index: -1;
    padding-left: 23px;
    color: white;
 }

 .project-card:hover .page2 {
    z-index: 1;
    font-size: 23px;
    padding-left: 33px;
    transform: translateY(-318px) scale(1.1);
 }

/* PROJECTS */


/* PROGRESS */

 .progress-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
 }

 .progress-card {
    min-height: 250px;
    width: 550px;
    flex-shrink: 0; 
    padding: 8px; 
    border-top-left-radius: 12px;
    border-bottom-right-radius: 70px;   
    border-left-width: 3px;
    border-left-style: groove;
    border-color: rgba(0,0,0,0.7);
    border-top-right-radius: 6px;
    padding: 28px;
 }

 .static {
    background-image: linear-gradient(45deg,#E0C4FD,#8FC6FD);
 }

 .resp {
    background-image: linear-gradient(35deg,#2DC1E4,#E8ECC7);
 }

 .custom {
    background-image: linear-gradient(35deg,#2DC1E4,#E8ECC7);
 }

 .dynamic {
    background-image: linear-gradient(45deg,#E0C4FD,#8FC6FD);
 }

 .progress-para {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 25px;
    line-height: 30px;
 }
 
.layer-container {
    display: flex;
    justify-content: space-around;
}

.layer-card {
    text-align: center;
}

#layer-icon {
    font-size:100px ;
}

.social-media {
    display: flex;
    gap: 8px;
}

.icon-layer {
    background: rgba(0,0,0,0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 1.5%;
    padding-block: 5%;
    padding-inline: 6%;
}

.social-icons {
    font-size: 40px;
}

.footer-cont {
    display: flex;
    justify-content: space-around;
}

.footer-para {
    font-family: 'Roboto Slab', serif;
    margin-left: 12px;
}

.contact-2{
    display: flex;
}

.email-para {
    margin: 0;
    margin-left: 7%;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

.name {
    border-top: solid rgba(0,0,0,0.7);
    text-align: center;
    padding: 1%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 3%;
}


.html:hover {
    background-image: linear-gradient(130deg,#3f55dd,#9d4ee5);
}

.css:hover {
    background-image: linear-gradient(130deg,#55b8d6,#47e48f);
}

.js:hover {
    background-image: linear-gradient(130deg,#ca86ff,#ff6580);
}

.react:hover {    
    background-image: linear-gradient(130deg,#e94231,#f1cc00);
}

.boot:hover {
    background-image: linear-gradient(130deg,#6df0ff,#00a1e2);
}

.python:hover {
    background-image: linear-gradient(130deg,#089499,#00ff84);
}

.c:hover {
    background-image: linear-gradient(130deg,#2b3de4,#21c7ff);
}

.ps:hover {
    background-image: linear-gradient(130deg,#0c5bfa,#f66e7c 72%)
}

.num {
    margin-top: 13%;
}

@media screen and (min-width:992px) {
    .ham-img {
        display: none;
    }
}


@media screen and (max-width: 576px) {
    .home {
        margin-bottom: 8.5%;
    }

    .heads {
        text-align: left;
    }

    .home-container {
        flex-direction: column;
        align-items: center;
    }

    .home-content2 {
        width: 70%;
        margin-top: 13%;
        margin-right: 4%;
    }

    .home-para {
        font-size: 9vw;
        padding-inline: 7%;
    }

    .ham-img {
        width: 38px;
    }

    .nav-2 {
        display: none;
    }

    .active {
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 106px;
        left: 0;
        position: absolute;
        z-index: 2;
        background: black;
        width: 100%;
        height: 670px;
    }


    .nav-bar {
        padding-inline: 5%;
        padding-block: 8%;
        font-size: 26px;
    }

    .about {
        flex-direction: column;
        font-size: 20px;
        margin-right: 0;        
    }

    .about1 > p{
        margin-left: 0 !important;
    }

    .about1 {
        order: 1;
        padding-inline: 15px;
        margin-top: 8%;
    }

    .abtme-img {
        height: 445px;
        width: 445px;
        margin-left: 65px;
        margin-top: 6%;
        display: none;
    }

    /* SKILLS */

    .skills > h1 {
        margin-block: 10%;
    }

    .skills-container {
        margin-top: 6.5%;
        margin-bottom: 13%;
    }

    .skill-card {
        height: 150px;
        width: 150px;
    }

    .projects > h1 {
        margin-block: 10%;
    }

    /* PROGRESS */

    .progress-container {
        width: 100%;
        padding-inline: 16px;
        padding-top: 10%;
    }

    .progress-layer > h1 {
        margin-block: 13%;
    }

    .progress-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 18px;
        border-bottom-right-radius: 40px;
    }

    .progress-para {
        line-height: 26px;
        font-size: 18px;
    }

    #layer-icon {
        font-size: 80px;
    }

    /* FOOTER */

    .footer {
        border-top: solid rgba(0,0,0,0.7);
        margin-top: 5%;
    }

    .footer-cont {
        flex-direction: column;
        text-align: center;
    }

    .footer > h1 {
        margin-block: 8.5%;
    }

    .social-media {
        justify-content: center;
        margin-left: 2%;
    }

    .social2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
    }

    .num {
       margin-top: 8%;
    }

    .name {
        margin-top: 5%;
        padding: 5%;
    }

}

