@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.home {
    background: #120d21;
    padding-inline: 2.5%;
    color: white;  
    height: 100vh; 
}

.home-container {
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
}

.home-content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-2 {
    display: flex;
    gap: 86px;
    font-size: 20px;
    font-family: sans-serif;
}

.heads {
    font-family: Bree Serif;
    font-size: 42px;
    color: #913909;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 3%;
}

.about {
    display: flex;
    justify-content: space-between;    
    font-size: 45px;
    color: #120d21;
}
.about1{
    padding-inline: 5%;
}
.abtme-img {
    height: 450px;
    width: 490px;
    box-shadow: 5px 8px 8px grey;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

 .skill-card {
    height: 250px;
    width: 260px;
    background: #d1d1f7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 13px;
    box-shadow: 5px 8px 8px grey;
 }

.projects-container {
    display: flex;
    gap: 30px;
    overflow-x: scroll;
}

 .project-card {
    height: 400px;
    width: 285px;
    background: red;
    padding: 5px;
    flex-shrink: 0;
 }

 .progress-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
 }

 .progress-card {
    min-height: 250px;
    width: 550px;
    background: red; 
    flex-shrink: 0; 
    padding: 8px; 
    border-top-left-radius: 12px;
    border-bottom-right-radius: 70px;   
    border-left-width: 6px;
    border-left-style: groove;
    border-color: black;
    border-top-right-radius: 6px;
 }
 
.layer-container {
    display: flex;
    justify-content: space-around;
}

.layer-card {
    text-align: center;
}

#layer-icon {
    font-size:100px ;
}

.social-media {
    display: flex;
}

.icon-layer {
    height: 75px;
    width: 78px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-left: 3%;
}

.social-icons {
    font-size: 40px;
}